<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativeawesomemodule">
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
  <uses-feature android:glEsVersion="0x00020000" android:required="true" />
  <uses-feature android:name="com.google.ar.core.depth" />
  <application>
    <meta-data android:name="com.google.ar.core" android:value="optional" />
  </application>
</manifest>
